.searchForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  padding-top: var(--nextui-space-lg);
  padding-bottom: var(--nextui-space-sm);
  padding-left: var(--nextui-space-sm);
  padding-right: var(--nextui-space-sm);
}